doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Points Bank - Member Login
    link(rel='stylesheet', href='/css/auth.css')
  body
    .container
      .logo
        h1 Points Bank
        p Member Dashboard Login

      if error
        .error= error

      form(method='POST', action='/member/login')
        input(type='hidden', name='redirect', value=redirect)

        .form-group
          label(for='email') Email Address
          input#email(type='email', name='email', required, autofocus)

        .form-group
          label(for='password') Password
          input#password(type='password', name='password', required)

        button(type='submit') Sign In

      .link-text
        | Don't have an account?
        a(href='/api/oauth/register-form') Create one
